<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ lang }} Interpreter by HyperNeutrino" />
    <meta name="keywords" content="Alexander Liao, Alex Liao, HyperNeutrino, {{ lang }}" />
    <meta name="author" content="Alexander Liao" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/favicon-{{ lang }}.png" type="image/x-icon" />
    
    <title>{{ lang }} [HN]</title>
  </head>
  
  <body>
    <data-session hidden>{{ session }}</data-session>
    <data-lang hidden>{{ lang }}</data-lang>
    <main>
      <div class="container">
        <br />
        <span style="font-size:200%">
          <b>{{ name }}</b> {{ title }}
        </span>
        <br /><br />
        <span style="font-size:120%">
          <a href="/">&lt; return to language list</a>
        </span>
        <br /><br /><br />
        <b>Code</b>
        <textarea id="code" class="input"></textarea>
        <br /><br />
        <b>STDIN</b>
        <textarea id="stdin" class="input"></textarea>
        <br /><br />
        <b>Command Line Arguments (newline-separated)</b>
        <textarea id="args" class="input"></textarea>
        <br /><br />
        {%- if lang in ["yuno", "flurry"] -%}
          <b>Flag</b>
          <textarea id="flag" class="input"></textarea>
          <br /><br />
        {%- endif -%}
        <button id="run">
          RUN
        </button>
        <button id="link">
          LINK &amp; FORMAT SE MD
        </button>
        <button id="inline">
          LINK &amp; FORMAT INLINE MD
        </button>
        <br /><br /><br />
        <b id="outlabel">Stack Exchange post format</b>
        <textarea id="output" class="input wrap" readonly></textarea>
        <br /><br />
        <b>STDERR</b>
        <textarea id="stderr" class="input wrap" readonly></textarea>
      </div>
    </main>
    <footer>
      <div class="container">
        &copy;&nbsp;2021 Alexander Liao - MIT License - <a href="https://github.com/hyper-neutrino/online-interpreter">Source Code</a>
      </div>
    </footer>
  </body>
</html>